
<div class="cards-container">
  <div class="cards">
    <div class="card">
      <h1><%= @question %></h1>
      <p>- your question</p>
    </div>
    <div class="card" id = "coach">
      <h1><%= @answer %></h1>
      <p>- coach answer</p>
    </div>

      <a href="/ask">Ask a New Question</a>
  </div>

</div>


